.dropdown {

  &[aria-hidden="true"] {

    display: none;
  }

  position: absolute;
  top: 45px;
  left: 0;
  width: 270px;
  background: $black;
  z-index: 3;
  padding-left: 0;
  box-shadow: 1px 2px 6px rgba($black, 0.1);

  li {

    display: block;
    border: none;
    margin: 0;

    a {

      margin: 0 !important;
      display: block;
      padding: 10px 15px;
      border: none;
      color: $white !important;

      &:hover {

        background: $gray;
      }

      span {

        display: block;
        opacity: 0.8;
      }
    }
  }

  &.dropdown-lg {

    top: 75px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
  }
}