.grids {

  display: flex;
  justify-content: center;

  .grid {

    max-width: 248px;
    text-align: center;
    margin: 20px 35px;

    .grid-img {

      position: relative;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 30px;

      img {

        border-radius: inherit;
      }
    }
  }

  @include media-breakpoint-down(lg) {

    flex-wrap: wrap;
  }

}

.img-grids {

  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;

  .img-grid {

    width: calc(25% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
  }

  @include media-breakpoint-down(md) {

    .img-grid {

      width: calc(50% - 20px);
    }
  }

  @include media-breakpoint-down(sm) {

    margin-left: -15px;

    .img-grid {

      width: calc(50% - 15px);
      margin-left: 15px;
      margin-bottom: 15px;
    }
  }
}