// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { height:100%; min-height:100%; font-family: $defaultFont; font-size: rem(18px); }
header {

  z-index: 2;

  .header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: $black;
    color: $white;
    box-shadow: 0 2px 10px rgba($black, 0.7);

    @include media-breakpoint-down(lg) {

      padding: 15px;

      .logo {

        img {

          width: 90px;
          height: auto;
        }
      }
    }
  }
}
